<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/lumen/bootstrap.min.css">
    <link rel="icon" type="image/x-icon"
          href="https://static.crozdesk.com/web_app_library/providers/logos/000/002/674/original/youcanbook.me-1669205148-logo.png?1669205148">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.js"></script>
</head>
<body>
<div class="container">
    <select id="timezone-selector">
        <option value="local">Local</option>
        <option value="UTC">UTC</option>
        <option value="America/New_York">New York</option>
        <option value="Europe/London">London</option>
        <option value="Asia/Tokyo">Tokyo</option>
    </select>
    <h1>Calendar</h1>
    <div id="calendar">
    </div>
</div>
<div id="addEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Event</h4>
            </div>
            <div class="modal-body">
                <form id="addEventForm" th:action="@{/public/create-event/{pageId}(pageId = ${bookingPage.pageId})}"
                      method="post">
                    <div>
                        <input type="hidden" id="pageId" name="pageId" th:value="${pageId}">
                    </div>
                    <div class="form-group">
                        <label>Event Title</label>
                        <input type="text" name="eventTitle" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="start">Start Date</label>
                                <input type="datetime-local" name="start" id="start" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="end">End Date</label>
                                <input type="datetime-local" name="end" id="end" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Add Event"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dataTest;
        var pageId = $("#pageId").val();
        $.ajax({
            url: location.origin +'/api/v1/events/' + pageId,
            method: 'GET',
            success:
                function (data) {
                    dataTest = data
                    dataTest.forEach(function (event) {
                        calendar.addEvent(event);
                    });
                }
        })
        $.ajax({
            url: location.origin + '/api/v1/google-events/' + pageId,
            method: 'GET',
            success:
                function (data) {
                    dataTest = data;
                    dataTest.forEach(function (event) {
                        event.title = event.eventTitle;
                        calendar.addEvent(event);
                    });
                }
        });
        var calendarEl = document.getElementById('calendar');
        var timezoneSelectorEl = document.getElementById('timezone-selector');
        var calendar = new FullCalendar.Calendar(calendarEl,
            {
                initialView: 'dayGridMonth',
                initialView: 'timeGridWeek',
                initialView: 'timeGridDay',
                initialView: 'listWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                themeSystem: 'bootstrap3',
                themeSystem: 'lumen',
                selectable: true,
                timeZone: timezoneSelectorEl.value,
                editable: false,
                nowIndicator: true,
                navLinks: true,
                selectMirror: true,
                events: dataTest,
                eventColor: '#a941e1',

                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    daysOfWeek: [ 1, 2, 3, 4, 5], // Monday - Thursday

                    startTime: '07:00',
                    endTime: '20:00',
                },

                views: {
                dayGridMonth: { // name of view
                    titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit' }
                    // other view-specific options here
                }
            },
                moreLinkClick: 'popover',
                dayMaxEventRows: true,
                views: {
                    timeGrid: {
                        dayMaxEventRows: 3
                    }
                },

                selectAllow: function (selectInfo) {

                    var isFuture = moment().diff(selectInfo.start) <= 0;

                    var dayOfWeek = selectInfo.start.getDay(); // lấy ngày trong tuần (0 = Chủ Nhật, 6 = Thứ Bảy)
                    var startHour = selectInfo.start.getHours(); // lấy giờ bắt đầu
                    var endHour = selectInfo.end.getHours(); // lấy giờ kết thúc

                    return dayOfWeek >= 1 && dayOfWeek <= 5 && startHour >= 7 && endHour <= 20 && isFuture;
                },

                select: function (event) {
                    $('#addEventForm input[name="start"]').val(moment(event.start).format('YYYY-MM-DD HH:mm:ss'));
                    $('#addEventForm input[name="end"]').val(moment(event.end).format('YYYY-MM-DD HH:mm:ss'));
                    $('#addEventModal').modal('show');
                },
            });
        calendar.render();

        timezoneSelectorEl.addEventListener('change', function() {
            calendar.setOption('timeZone', this.value);
        });
    });
</script>
</body>
</html>
