<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouCanBookMe</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
</head>
<body>
<div style="font-family: 'Roboto', sans-serif;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td align="center" valign="top">
                <table cellpadding="0" cellspacing="0" border="0" style="max-width: 600px;">
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td align="center" bgcolor="#3CB371" style="padding: 20px; border-radius: 4px;">
                                        <h2 style="margin: 0; font-weight: bold; color: #fff;">YouCanBookMe</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#ffffff" style="padding: 20px; border-radius: 4px;">
                                        <p th:text="${'Hi ' + firstName + ','}" style="margin: 0;"></p>
                                        <p th:text="${'Thanks for scheduling a meeting.'}" style="margin: 0;"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#ffffff" style="padding: 20px; border-radius: 4px;">
                                        <h4 style="margin: 0; font-weight: bold;">Details</h4>
                                        <p th:text="${'Booking Page: ' + title}" style="margin: 0;"></p>
                                        <p th:text="${'Start: ' + start}" style="margin: 0;"></p>
                                        <p th:text="${'End: ' + end}" style="margin: 0;"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#ffffff" style="padding: 20px; border-radius: 4px;">
                                        <h4 style="margin: 0; font-weight: bold;">Booking Form</h4>
                                        <p th:text="${'First name: ' + firstName}" style="margin: 0;"></p>
                                        <p th:text="${'Last name: ' + lastName}" style="margin: 0;"></p>
                                        <p th:text="${'Email: ' + email}" style="margin: 0;"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#ffffff" style="padding: 20px; border-radius: 4px;">
                                        <p style="margin: 0;"><a href="#" style="color: #000000;text-decoration: none">Click here to reschedule this booking</a></p>
                                        <p style="margin: 0;"><a href="#" style="color: #000000;text-decoration: none">Click here to cancel this booking</a></p>
                                        <p style="margin: 0;"><a href="#" style="color: #000000;text-decoration: none">Manage this booking</a></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
