<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Account Email</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon"
        href="https://static.crozdesk.com/web_app_library/providers/logos/000/002/674/original/youcanbook.me-1669205148-logo.png?1669205148">
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <em class="fa fa-home"></em>
      CMS</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"  th:href="@{/logout}">
          <em class="fa fa-user-times"></em>
          Logout
        </a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <ul>
          <li><a id="accountOverview" th:href="@{user}">Account Overview</a></li>
          <li id="updatePassword"><a href="#">Update Password</a></li>
        </ul>
      </div>
      <div class="col-lg-9 personal-info">
        <h2 class="main-header">Edit profile</h2>
        <div th:if="${param.success}">
          <div class="alert alert-info">
            Your password is changed!!
          </div>
        </div>
        <div th:if="${param.error}">
          <div class="alert alert-info">
            Your current password is wrong!!
          </div>
        </div>
        <form th:action="@{/update-password}"
              method="post" name="frm-member" id="form">
          <div>
            <input class="form-control" type="hidden" th:field="${currentUser.userId}">
          </div>
          <div class="form-group">
            <label class="control-label">Current password:</label>
            <div class="col-md-100">
              <input class="form-control" type="password" name="password" placeholder="Enter your current password">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">New password</label>
            <div class="col-lg-100">
              <input class="form-control" type="password" name="newPassword" placeholder="Enter your new password">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Confirm new password</label>
            <div class="col-lg-100">
              <input class="form-control" type="password" name="confirmNewPassword" placeholder="Enter your new password again">
            </div>
          </div>
          <button type="submit" class="btn btn-success" name="update">
            Update
          </button>
          <button type="reset" class="btn btn-default" onclick="" name="reset">
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>