<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        th:href="@{css/profile.css}">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<!-- Header -->
<div class="header">
  <h1>Edit Profile</h1>
</div>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <em class="fa fa-home"></em>
    CMS</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" style="color: yellow">
        <em class="fa fa-user-circle-o"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  th:href="@{/logout}">
        <em class="fa fa-user-times"></em>
        Logout
      </a>
    </li>
  </ul>
  </div>
</nav>

<!-- Nội dung -->
<div class="row">
  <div class="side">
    <ul>
      <li id="view-contents"><a href="<%=request.getContextPath()%>/view">View contents</a></li>
      <li id="form-contents"><a href="<%=request.getContextPath()%>/add">Form contents</a></li>
    </ul>
  </div>

  <div class="main">
    <h2 class="main-header">Edit profile</h2>
    <div th:if="${param.success}">
      <div class="alert alert-info">
        Member is updated
      </div>
    </div>
    <form th:action="@{/update/save}"
          th:object="${userLogin}"
          method="post" name="frm-member">
      <input type="hidden"
             name="username"
             id="username">
      <label for="id">
      Id
      </label>
      <input type="text"
             name="id"
             id="id"
             th:field="${userLogin.userID}">
      <label for="firstName">
        First Name
      </label>
      <input type="text"
             name="firstName"
             id="firstName"
             placeholder="Enter first name"
             th:field="${userLogin.firstName}"/>
      <label for="lastName">
        Last Name
      </label>
      <input type="text" name="lastName" id="lastName"
             th:field="${userLogin.lastName}"
             placeholder="Enter last name"/>
      <label for="email">
        Email Name
      </label>
      <input type="email" name="email" id="email"
             th:field="${userLogin.mainEmail}"
             placeholder="Enter email"/>
      <label for="phone">
        Phone
      </label>
      <input type="text" name="phone" id="phone"
             th:field="${userLogin.phone}"
             placeholder="Enter phone"/>
      <label for="phone">
        Organization
      </label>
      <input type="text" name="organization" id="organization"
             th:field="${userLogin.organization}"
             placeholder="Enter your organization"/>
      <button type="submit" name="update">
        Update
      </button>
      <button type="submit" onclick="" name="reset">
        Reset
      </button>
    </form>
  </div>
</div>
</body>
</html>
