<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        th:href="@{css/profile.css}">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon"
        href="https://static.crozdesk.com/web_app_library/providers/logos/000/002/674/original/youcanbook.me-1669205148-logo.png?1669205148">
</head>
<body>

<!-- Header -->
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <em class="fa fa-home"></em>
    CMS</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" style="color: yellow">
        <em class="fa fa-user-circle-o"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  th:href="@{/logout}">
        <em class="fa fa-user-times"></em>
        Logout
      </a>
    </li>
  </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <ul>
          <li id="accountOverview"><a href="#">Account Overview</a></li>
          <li id="updateAccountEmail"><a href="#">Update Account Email</a></li>
        </ul>
      </div>
    <div class="col-lg-9 personal-info">
      <h2 class="main-header">Edit profile</h2>
      <div th:if="${param.success}">
        <div class="alert alert-info">
          Member is updated
        </div>
      </div>
      <form th:action="@{/user}"
            th:object="${currentUser}"
            method="post" name="frm-member">
          <div>
              <input class="form-control" type="hidden" th:field="${currentUser.userId}">
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">First name:</label>
            <div class="col-md-100">
              <input class="form-control" type="text" th:field="${currentUser.firstName}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-100">
              <input class="form-control" type="text" value="" th:field="${currentUser.lastName}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-100">
              <input class="form-control" type="email" value="" th:field="${currentUser.mainEmail}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone</label>
            <div class="col-lg-100">
              <input class="form-control" type="text" value="" th:field="${currentUser.phone}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Organization</label>
            <div class="col-lg-100">
              <input class="form-control" type="text" value="" th:field="${currentUser.organization}">
            </div>
          </div>
        <button type="submit" class="btn btn-primary" name="update">
          Update
        </button>
        <button type="submit" class="btn btn-default" onclick="" name="reset">
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
<script>
<!--  todo-->
  $(document).ready(function () {
    $("#accountOverview").click(function () {
      $.get({
        url:"user",
        success: function (response) {
          $(".container").html(response);
        }
      });
    });
    $("#updateAccountEmail").click(function () {
      $.get({
        url: "updateEmail",
        success: function (response) {
          $(".container").html(response);
        }
      });
    });
  })
</script>
</body>
</html>
